{:paths
 ["src" "resources"]

 :deps
 {

  io.pedestal/pedestal.service {:mvn/version "0.5.7"}
  io.pedestal/pedestal.route   {:mvn/version "0.5.7"}
  io.pedestal/pedestal.jetty   {:mvn/version "0.5.7"}
  hickory {:mvn/version "0.7.1"}
  com.wsscode/pathom {:mvn/version "2.1.1"}}}
