{:paths
 ["src" "resources"]

 :deps
 {org.jsoup/jsoup {:mvn/version "1.11.3"}
  com.wsscode/pathom {:mvn/version "2.2.16"}
  io.pedestal/pedestal.service {:mvn/version "0.5.7" :scope "provided"}
  io.pedestal/pedestal.route   {:mvn/version "0.5.7" :scope "provided"}}

 :aliases
 {:dev
  {:extra-paths ["devel"]
   :main-opts ["-m" "example.core"]
   :extra-deps
   {io.pedestal/pedestal.jetty   {:mvn/version "0.5.7"}
    org.clojure/test.check {:mvn/version "0.10.0-alpha3"}}}
  :demo
  {:paths ["devel"]
   :main-opts ["-m" "example.core"]
   :extra-deps
   {io.pedestal/pedestal.jetty   {:mvn/version "0.5.7"}
    lafuente/pathom-pedestal     {:mvn/version "0.1.5-SNAPSHOT"}}}}}
